@media screen and (min-width:600px) {
    .panel {
        display: flex;
        width: 59.72vw;
        height: 100%;
        justify-content: center;
    }

    .w1-v1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .v1-work {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .dabba-wrapper div {
        margin-left: 80px;
    }

    .dabba-wrapper div:nth-child(even) {
        margin-left: 100p
    }
    
}

.panel {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    scale: 0.75;
}

.panel:nth-child(1){
    margin-bottom: 5%;
}
.panel:nth-child(2){
    margin-bottom: 5%;
}
.panel:nth-child(3){
    margin-bottom: 5%;
}

.w1-v1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.v1-work {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.dabba{
    background-color: black;
}